In [1]:
import pandas as pd
import numpy as np

In [2]:
# creando con diccionario

df = pd.DataFrame({
    "A" : np.random.rand(10),
    "B" : np.random.rand(10),
    "C" :np.random.rand(10)
})

In [3]:
df

          A         B         C
0  0.045880  0.087790  0.810636
1  0.926474  0.556394  0.368081
2  0.796261  0.414161  0.610623
3  0.634295  0.033894  0.237981
4  0.280284  0.867354  0.278223
5  0.218200  0.047551  0.169903
6  0.330724  0.036124  0.562443
7  0.442747  0.021184  0.397714
8  0.238849  0.772147  0.824584
9  0.103262  0.857810  0.162179

In [4]:
df.mean()

A    0.401698
B    0.369441
C    0.442237
dtype: float64

In [5]:
# por filas
df.mean(axis="columns")

0    0.314769
1    0.616983
2    0.607015
3    0.302057
4    0.475287
5    0.145218
6    0.309763
7    0.287215
8    0.611860
9    0.374417
dtype: float64

In [6]:
#asignando nombres a las columnas , no tiene mucho sentido por ahora

df2 = pd.DataFrame({
    "key" : ["A","B","C","A","B","C"],
    "values" : range(6)
},
    columns = ["key", "values"]
                  )

df2

  key  values
0   A       0
1   B       1
2   C       2
3   A       3
4   B       4
5   C       5

In [7]:
# por factores, agrupacion, se agruparon pero no se nota
df2.groupby("key")

In [8]:
# ejemplo funcion
df2.groupby("key").mean()

     values
key
A       1.5
B       2.5
C       3.5